<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
    $( function() {
        $( "#slider" ).slider({
            range:true,
           min: 0,
           max: 6000,
           values: [ 35, 3000 ],
           slide: function( event, ui ) {
              $( "#price" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
           }
        });
        $( "#price" ).val( "$" + $( "#slider" ).slider( "values", 0 ) + " - $" + $( "#slider" ).slider( "values", 1 ) );
         
        $( "#slider1").slider({
            value: 50, slide: function( event, ui ) {
                  $( "#performance" ).val( ui.value + "%" );
            }
        });
        $( "#performance" ).val( $( "#slider1" ).slider( "value") + "%");

        $( "#slider2").slider({
            value: 50, slide: function( event, ui ) {
                  $( "#portability" ).val( ui.value + "%");
            }
        });
        $( "#portability" ).val( $( "#slider2" ).slider( "value") + "%");
            
        $( "#slider3").slider({
            value: 50, slide: function( event, ui ) {
                  $( "#screen_quality" ).val( ui.value + "%");
            }
        });
        $( "#screen_quality" ).val( $( "#slider3" ).slider( "value") + "%");

        
        retPrice = $('#price').val()
        retPrefo = $('#performance').val()
        retPort = $('#portability').val()
        retSQ = $('#screen_quality').val()

        $.ajax({ 
            url: '/results', 
            type: 'POST', 
            data: {'ret_price' : retPrice, 'ret_prefo' : retPrefo, 'ret_port' : retPort, 'ret_SQ' : retSQ },
            success: function(response){ 
        $('#main').text(response) 
    } 
})

    });
    </script>
    <title>Laptop Finder</title>
</head>


<body>
<form method="POST" action="{{url_for('results')}}">
    <h1 style="color:rgb(117, 111, 111); font-family:Verdana, Geneva, Tahoma, sans-serif; text-align:center; font-size:300%;">
        What's the Best Laptop for You?
    </h1>
    <h3 style="color:rgb(117, 111, 111); font-family:Verdana, Geneva, Tahoma, sans-serif; text-align:center;">
        Slide the sliders depending on what you prefer
    </h3>
    <p>
        <label for = "price">Price range:</label>
        <input type = "text" id = "price" style = "border:0; color:rgb(117, 111, 111); font-weight:bold;">
     </p>
    <div id="slider"></div>
    <p>
        <label for = "performance">Performance:</label>
        <input type = "text" id = "performance" style = "border:0; color:rgb(117, 111, 111); font-weight:bold;">
     </p>
    <div id="slider1"></div>
    <p>
        <label for = "portability">Portability:</label>
        <input type = "text" id = "portability" style = "border:0; color:rgb(117, 111, 111); font-weight:bold;">
     </p>
    <div id="slider2"></div>
    <p>
        <label for = "screen_quality">Screen Quality:</label>
        <input type = "text" id = "screen_quality" style = "border:0; color:rgb(117, 111, 111); font-weight:bold;">
     </p>
    <div id="slider3"></div>
    
    
    <div class="wrapper" style="text-align: center;">
        <input type="submit" value="Submit" style=
            "background-color: rgb(117, 111, 111);
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 16px;">
        </input> 
    </div>
</form>
</body>

        
</html>